.container {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.well {
  margin-top: 30px;
}

#isValid {
  font-weight: bolder;
  color:#e8702a;
  margin-top: 30px;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-weight:700;
  color:#0c457d;
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
